<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>红包管理平台</title>
  <!--webkit去掉滚动条-->
  <style>

    ::-webkit-scrollbar {
      width: 0 !important;
    }
    ::-webkit-scrollbar {
      width: 0 !important;height: 0;
    }
    .el-menu{
      border:0!important;
    }
  </style>

</head>
<body>

<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<style>
  html,body{height: 100%;margin: 0}

  a{TEXT-DECORATION:none}


  .right {
    /*float: left;*/
    position: fixed;
    width: 100%;
    margin-left: 2px;
  }
</style>

<div id="app" class="right">

  <!--搜索表单-->
  <el-form :inline="true" :model="searchRecord" class="demo-form-inline" :rules="rules" ref="searchRecord">

    <el-form-item label="发送人" prop="sender">
      <el-input v-model="searchRecord.sender" placeholder="发送人名称" clearable></el-input>
    </el-form-item>

    <el-form-item label="接收人" prop="recipient">
      <el-input v-model="searchRecord.recipient" placeholder="接收人名称" clearable></el-input>
    </el-form-item>

    <el-form-item label="当前状态">
      <el-select v-model="searchRecord.status" placeholder="当前状态" clearable>
        <el-option label="正常" value="1"></el-option>
        <el-option label="已删除" value="0"></el-option>
      </el-select>
    </el-form-item>

    <!--        <el-form-item label="更新时间">-->
    <!--            <el-date-picker v-model="searchRecord.updateTime" type="date" placeholder="选择日期"-->
    <!--                            value-format="yyyy-MM-dd" clearable>-->
    <!--            </el-date-picker>-->
    <!--        </el-form-item>-->

    <!--        <el-form-item label="加入时间">-->
    <!--            <el-date-picker v-model="searchRecord.addTime" type="date" placeholder="选择日期"-->
    <!--                            value-format="yyyy-MM-dd" clearable>-->
    <!--            </el-date-picker>-->
    <!--        </el-form-item>-->


    <el-form-item>
      <el-button type="primary" @click="onSubmit('searchRecord')">查询</el-button>
    </el-form-item>
  </el-form>

  <!--按钮-->

  <el-row>

    <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
    <!--        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>-->

  </el-row>


  <!--表格-->
  <template>
    <el-table
            :data="tableRecord"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange"
    >
      <el-table-column
              type="selection"
              width="55">
      </el-table-column>
      <el-table-column
              type="index"
              width="50">
      </el-table-column>

      <el-table-column
              prop="sender"
              label="发送人"
              align="center"
      >
      </el-table-column>
      <el-table-column
              prop="recipient"
              label="接收人"
              align="center"
      >
      </el-table-column>

      <el-table-column
              prop="sendTime"
              align="center"
              label="发送时间" sortable>
      </el-table-column>


      <el-table-column
              align="center"
              label="操作">
        <template slot-scope="scope" >
          <el-button type="primary"  @click="updateById(scope.$index, scope.row)">修改</el-button>
          <el-button type="danger"  @click="deleteById(scope.$index, scope.row)">删除</el-button>
          <!--修改数据对话框表单-->
          <el-dialog
                  title="修改"
                  :visible.sync="addVisible"
                  :append-to-body="true"
                  width="30%"
          >
            <el-form ref="form" :model="updateRecord" label-width="80px" >
              <el-form-item label="发送人">
                <el-input v-model="updateRecord.sender"></el-input>
              </el-form-item>

              <el-form-item label="接收人">
                <el-input v-model="updateRecord.recipient"></el-input>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="updateRecords">提交</el-button>
                <el-button @click="addVisible = false">取消</el-button>
              </el-form-item>
            </el-form>
          </el-dialog>

        </template>

      </el-table-column>

    </el-table>
  </template>



  <!--分页工具条-->
  <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="page"
          :page-sizes="[5, 10, 15, 20]"
          :page-size="pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="counts">
  </el-pagination>

</div>

<script src="../js/axios-0.18.0.js"></script>
<script src="../js/request.js"></script>
<script>
  function getMemberList (params) {
    return $axios({
      url: '/record/page',
      method: 'get',
      params
    })
  }
  var app = new Vue({

    el: "#app",

    created(){
      this.init()
      if(localStorage.getItem('record') != null){
        //获取当前登录员工的账号，并赋值给模型数据user
        this.recordname = JSON.parse(localStorage.getItem('record')).name
      }
    },

    mounted(){

    },

    methods: {
      async init () {
        var _this = this;
        const params = {
          page: _this.page,
          pageSize: _this.pageSize,
          name: _this.input ? _this.input : undefined
        }
        await getMemberList(params).then(res => {
          if (String(res.code) === '1') {
            _this.tableRecord = res.data.records
            _this.counts = res.data.total
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        })
      },


      tableRowClassName({row, rowIndex}) {
        if (rowIndex === 1) {
          return 'warning-row';
        } else if (rowIndex === 3) {
          return 'success-row';
        }
        return '';
      },

      // 复选框选中后执行的方法
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },

      // 查询方法
      onSubmit(searchRecord) {
        var _this = this;
        this.$refs[searchRecord].validate((valid) =>{
          if (valid){
            axios({
              method: "post",
              url: "/record/list",
              data: _this.searchRecord
            }).then(function (res) {
              if (res.data.code === 1) {
                _this.tableRecord = res.data.data;
              } else {
                _this.$message.error("查询失败!");
              }
            })
          }else{
            _this.$message.error("查询失败!")
          }
        })
      },
      //status过滤器
      statusRecognize(row){
        if (row.status===0){
          return "已停用";
        }else if(row.status===1){
          return "正常";
        }
      },

      //获取页面信息
      updateById(index, row) {
        var _this = this;
        _this.updateRecord.id = row.id;
        _this.updateRecord.sender = row.sender;
        _this.updateRecord.recipient = row.recipient;
        _this.updateRecord.status = row.status;
        _this.addVisible = true;
      },
      //修改数据
      updateRecords(){
        var _this = this;
        //发送ajax异步请求，添加数据
        axios({
          method: "post",
          url: "/record/update",
          data: _this.updateRecord
        }).then(function (res) {
          if (res.data.code === 1) {
            //关闭窗口
            _this.addVisible = false;
            //查询一次
            _this.init();
            _this.$message({
              message: '修改成功',
              type: 'success'
            });
          } else {
            _this.$message.error('修改失败');
          }
        })
      },

      //删除数据
      deleteById(index, row) {
        var _this = this;
        this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // 发送ajax请求，添加数据
          axios({
            method: "delete",
            url: "/record/delete",
            data: row.id
          }).then(function (resp) {
            if (resp.data.code === 1) {
              // 重新查询数据
              _this.init();
              // 弹出消息提示
              _this.$message({
                message: resp.data.msg,
                type: 'success'
              });
            } else{
              _this.$message({
                message: resp.data.msg,
                type: 'error'
              })

            }
          })
        }).catch(() => {
          //点击取消后
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });
      },


      //批量删除的方法
      deleteByIds(){
        //1.创建id数组
        //遍历多选框数组，塞入新数组中
        for (let i = 0; i < this.multipleSelection.length; i++) {
          let selectionElement = this.multipleSelection[i];
          this.selectedIds[i] = selectionElement.id;
        }
        var _this = this;

        _this.$confirm('该操作不可逆，是否确定要删除已选择的数据?', '警告', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          //确定

          //发送ajax请求
          axios({
            method: "delete",
            url: "/record/deletes",
            data: _this.selectedIds
          }).then(function (resp) {
            if (resp.data.code === 1) {
              //关闭窗口
              _this.addVisible = false;
              //查询一次
              _this.init();
              _this.$message({
                message: resp.data.msg,
                type: 'success'
              });
            } else {
              _this.$message.error(resp.data.msg);
            }
          });
        }).catch(() => {
          //取消
          _this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });

      },

      //分页
      handleSizeChange(val) {
        this.pageSize  = val;
        this.init();
      },
      handleCurrentChange(val) {
        this.page  = val;
        this.init();
      },

      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }

    },

    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },



    data() {
      return {
        rules:{
          sender: {pattern:/^[a-zA-Z]+$/,message:'只允许输入字母',trigger:'change'},
          recipient: {pattern:/^[a-zA-Z]+$/,message:'只允许输入字母',trigger:'change'}
        },

        page:1,
        pageSize:5,
        input:'',
        counts:0,
        recordname:'',

        totalCount:100,

        addVisible: false,

        // 添加数据对话框是否展示的标记
        // dialogVisible: false,

        tableRecord:{
          id:'',
          sender:'',
          recipient:'',
          status:'',
          sendTime:''
        },

        searchRecord:{
          sender:'',
          recipient:'',
          status:'',
          sendTime:''
        },

        addUser:{
          id:'',
          sender:'',
          recipient:'',
          status:'',
          sendTime:''
        },

        updateRecord:{
          sender:'',
          recipient:'',
          status:''
        },

        //批量删除中被选中的id数组
        selectedIds:[],
        // 复选框选中数据集合
        multipleSelection: [],

      }
    }

  })

</script>

</body>
</html>