<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>红包管理平台</title>
    <!--webkit去掉滚动条-->
    <style>

        ::-webkit-scrollbar {
            width: 0 !important;
        }
        ::-webkit-scrollbar {
            width: 0 !important;height: 0;
        }
        .el-menu{
            border:0!important;
        }
    </style>

</head>
<body>

<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<style>
    html,body{height: 100%;margin: 0}

    a{TEXT-DECORATION:none}


    .right {
        /*float: left;*/
        position: fixed;
        width: 100%;
        margin-left: 2px;
    }
</style>

<div id="app" class="right">

    <!--搜索表单-->
    <el-form :inline="true" :model="searchUser" class="demo-form-inline" :rules="rules" ref="searchUser">

        <el-form-item label="人员姓名" prop="name">
            <el-input v-model="searchUser.name" placeholder="人员姓名" clearable></el-input>
        </el-form-item>

        <el-form-item label="当前状态">
            <el-select v-model="searchUser.status" placeholder="当前状态" clearable>
                <el-option label="正常" value="1"></el-option>
                <el-option label="已删除" value="0"></el-option>
            </el-select>
        </el-form-item>

<!--        <el-form-item label="更新时间">-->
<!--            <el-date-picker v-model="searchUser.updateTime" type="date" placeholder="选择日期"-->
<!--                            value-format="yyyy-MM-dd" clearable>-->
<!--            </el-date-picker>-->
<!--        </el-form-item>-->

<!--        <el-form-item label="加入时间">-->
<!--            <el-date-picker v-model="searchUser.addTime" type="date" placeholder="选择日期"-->
<!--                            value-format="yyyy-MM-dd" clearable>-->
<!--            </el-date-picker>-->
<!--        </el-form-item>-->


        <el-form-item>
            <el-button type="primary" @click="onSubmit('searchUser')">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->

    <el-row>

        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
<!--        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>-->

    </el-row>
    <!--添加数据对话框表单-->
<!--    <el-dialog-->
<!--            title="添加学生信息"-->
<!--            :visible.sync="dialogVisible"-->
<!--            width="30%"-->
<!--    >-->

<!--        <el-form ref="form" :model="brandSec" label-width="80px">-->
<!--            <el-form-item label="学生姓名">-->
<!--                <el-input v-model="brandSec.brandName"></el-input>-->
<!--            </el-form-item>-->

<!--            <el-form-item>-->
<!--                <el-button type="primary" plain @click="addBrand">提交</el-button>-->
<!--                <el-button @click="dialogVisible = false">取消</el-button>-->
<!--            </el-form-item>-->
<!--        </el-form>-->

<!--    </el-dialog>-->


    <!--表格-->
    <template>
        <el-table
                :data="tableUser"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="name"
                    label="用户姓名"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop=""
                    label=""
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="updateTime"
                    align="center"
                    label="更新时间" sortable>
            </el-table-column>
            <el-table-column
                    prop="addTime"
                    align="center"
                    label="加入时间" sortable>
            </el-table-column>
            <el-table-column
                    prop="status"
                    align="center"
                    label="用户状态"
                    :formatter="statusRecognize" sortable>
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope" >
                    <el-button type="primary"  @click="updateById(scope.$index, scope.row)">修改</el-button>
                    <el-button type="danger"  @click="deleteById(scope.$index, scope.row)">删除</el-button>
                    <!--修改数据对话框表单-->
                    <el-dialog
                            title="修改"
                            :visible.sync="addVisible"
                            :append-to-body="true"
                            width="30%"
                    >
                        <el-form ref="form" :model="updateUser" label-width="80px" >
                            <el-form-item label="用户姓名">
                                <el-input v-model="updateUser.name"></el-input>
                            </el-form-item>

                            <el-form-item label="用户状态">
                                <el-radio-group v-model="updateUser.status">
                                    <el-radio :label="1">正常</el-radio>
                                    <el-radio :label="0">已停用</el-radio>
                                </el-radio-group>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="updateUsers">提交</el-button>
                                <el-button @click="addVisible = false">取消</el-button>
                            </el-form-item>
                        </el-form>
                    </el-dialog>

                </template>

            </el-table-column>

            <el-table-column align="left">
                <template slot-scope="scope">
                    <el-button type="text" @click="sendRedpack(scope.$index,scope.row)">下发红包</el-button>
                </template>

            </el-table-column>

        </el-table>
    </template>



    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="counts">
    </el-pagination>

</div>

<script src="../js/axios-0.18.0.js"></script>
<script src="../api/member.js"></script>
<script src="../js/request.js"></script>
<script>

    var app = new Vue({

        el: "#app",

        created(){
            this.init()
            if(localStorage.getItem('user') != null){
                //获取当前登录员工的账号，并赋值给模型数据user
                this.username = JSON.parse(localStorage.getItem('user')).name
            }
        },

        mounted(){

        },

        methods: {
            async init () {
                var _this = this;
                const params = {
                    page: _this.page,
                    pageSize: _this.pageSize,
                    name: _this.input ? _this.input : undefined
                }
                await getMemberList(params).then(res => {
                    if (String(res.code) === '1') {
                        _this.tableUser = res.data.records
                        _this.counts = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },

            // selectALL() {
            //     //无法在axios内使用this，所以在axios外定义了一个
            //     var _this = this;
            //
            //     //页面加载完后发送异步请求，获取数据
            //     axios({
            //         method:"get",
            //         url:"/user/page",
            //         data:_this.tableUser
            //     }).then(res =>{
            //         console.log(res)
            //     })
            // },


            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },

            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            // 查询方法
            onSubmit(searchUser) {
                var _this = this;
                this.$refs[searchUser].validate((valid) =>{
                    if (valid){
                        axios({
                            method: "post",
                            url: "/user/list",
                            data: _this.searchUser
                        }).then(function (res) {
                            if (res.data.code === 1) {
                                _this.tableUser = res.data.data;
                            } else {
                                _this.$message.error("查询失败!");
                            }
                        })
                    }else{
                        _this.$message.error("查询失败!")
                    }
                })
            },
            //status过滤器
            statusRecognize(row){
                if (row.status===0){
                    return "已停用";
                }else if(row.status===1){
                    return "正常";
                }
            },

            // 添加数据
            // addBrand(){
            //     //console.log(this.brand);
            //     //发送ajax请求，添加数据
            //     var _this = this;
            //     axios({
            //         method: "post",
            //         url:"http://localhost:8081/brand-case/addServlet",
            //         data: _this.brandSec
            //     }).then(function (response) {
            //         if (response.data == "success"){
            //             _this.selectALL();
            //             //关闭窗口
            //             _this.dialogVisible = false;
            //
            //             _this.$message({
            //                 message:'添加成功!',
            //                 type:'success'
            //             });
            //         }else {
            //             _this.$message.error('添加失败');
            //         }
            //     })
            // },

            //获取页面信息
            updateById(index, row) {
                var _this = this;
                _this.updateUser.id = row.id;
                _this.updateUser.name = row.name;
                _this.updateUser.status = row.status;
                _this.addVisible = true;
            },
            //修改数据
            updateUsers(){
                var _this = this;
                //发送ajax异步请求，添加数据
                axios({
                    method: "post",
                    url: "/user/update",
                    data: _this.updateUser
                }).then(function (res) {
                    if (res.data.code === 1) {
                        //关闭窗口
                        _this.addVisible = false;
                        //查询一次
                        _this.init();
                        _this.$message({
                            message: '修改成功',
                            type: 'success'
                        });
                    } else {
                        _this.$message.error('修改失败');
                    }
                })
            },

            //删除数据
            deleteById(index, row) {
                var _this = this;
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 发送ajax请求，添加数据
                    axios({
                        method: "delete",
                        url: "/user/delete",
                        data: row.id
                    }).then(function (resp) {
                        if (resp.data.code === 1) {
                            // 重新查询数据
                            _this.init();
                            // 弹出消息提示
                            _this.$message({
                                message: resp.data.msg,
                                type: 'success'
                            });
                        } else{
                            _this.$message({
                                message: resp.data.msg,
                                type: 'error'
                            })

                        }
                    })
                }).catch(() => {
                    //点击取消后
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });
            },


            //批量删除的方法
            deleteByIds(){
                //1.创建id数组
                //遍历多选框数组，塞入新数组中
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    let selectionElement = this.multipleSelection[i];
                    this.selectedIds[i] = selectionElement.id;
                }
                var _this = this;

                _this.$confirm('该操作不可逆，是否确定要删除已选择的数据?', '警告', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //确定

                    //发送ajax请求
                    axios({
                        method: "delete",
                        url: "/user/deletes",
                        data: _this.selectedIds
                    }).then(function (resp) {
                        console.log(resp)
                        if (resp.data.code === 1) {
                            //关闭窗口
                            _this.addVisible = false;
                            //查询一次
                            _this.init();
                            _this.$message({
                                message: resp.data.msg,
                                type: 'success'
                            });
                        } else {
                            _this.$message.error(resp.data.msg);
                        }
                    });
                }).catch(() => {
                    //取消
                    _this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },

            sendRedpack(index,row){

                const params = {
                    sender: this.username,
                    recipient: row.name,
                }
                sendRedpack(params).then(res => {
                    console.log(res)
                    if (res.code===1){
                        this.$message.success(res.msg)
                    }else{
                        this.$message.warning(res.msg)
                    }

                })
            },

            //分页
            handleSizeChange(val) {
                this.pageSize  = val;
                this.init();
            },
            handleCurrentChange(val) {
                this.page  = val;
                this.init();
            },

            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            }

        },

        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        },



        data() {
            return {
                rules:{
                    name: {pattern:/^[a-zA-Z]+$/,message:'只允许输入字母',trigger:'change'}
                },

                page:1,
                pageSize:5,
                input:'',
                counts:0,
                username:'',

                totalCount:100,

                addVisible: false,

                // 添加数据对话框是否展示的标记
                // dialogVisible: false,

                tableUser:{
                    id:'',
                    name:'',
                    password:'',
                    status:'',
                    addTime:'',
                    updateTime:''
                },

                searchUser:{
                    name:'',
                    status:'',
                    addTime:'',
                    updateTime:''
                },

                addUser:{
                    id:'',
                    name:'',
                    password:'111',
                    status:'',
                    addTime:'',
                    updateTime:''
                },

                updateUser:{
                    id:'',
                    name:'',
                    status:'',
                },

                //批量删除中被选中的id数组
                selectedIds:[],
                // 复选框选中数据集合
                multipleSelection: [],

            }
        }

    })

</script>

</body>
</html>